body {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-content: space-around;
    height: 500px;
}

div {
    border: 2px solid green;
    padding: 5px;
    /* width: 200px; */
    height: 50px;
}

.one {
    flex: 1 2 200px;
}

.two {
    flex: 2 1 300px;
}