#atf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

#tabs {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 20rem;
}

#tab1, #tab2, #tab3, #tab4 {
    display:flex;
    width: 25%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
}

#tab1:hover, #tab2:hover, #tab3:hover, #tab4:hover {
    border-bottom: 3px solid turquoise;
}

button {
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    background-color: white;
    border-bottom: .2rem solid transparent;
}
